#container{
    margin: 100px;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
}
#one{
    height:100%;
    width: 100%;
    color: aqua;
     border-radius: 50%;
     display: flex;
     position: absolute;
     
}

